<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
  <a class="navbar-brand" [routerLink]="['/']">FirmQ</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item" *ngIf="authService.isAdmin()">
      <a class="nav-link" [routerLink]="['/admin/users']">Users</a>
    </li>
    <li class="nav-item" *ngIf="authService.isAdmin()">
      <a class="nav-link" [routerLink]="['/admin/companies']">Companies</a>
    </li>
    <li class="nav-item" *ngIf="authService.isCompanyUser()">
      <a class="nav-link" [routerLink]="['/entities']">Entities</a>
    </li>

  </ul>

  <div class="navbar-collapse d-flex flex-row-reverse" id="navbarsExampleDefault">
    <ul class="navbar-nav">
      <li *ngIf="userName && userName != ''" ngbDropdown class="nav-item">
        <a class="nav-link dropdown-toggle" href="#" id="user-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ userName }}</a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="user-menu">
          <a class="dropdown-item" [routerLink]="['/profile']">Profile</a>
          <a class="dropdown-item" [routerLink]="['/company-detail']">Company</a>
          <a class="dropdown-item" (click)="logout()">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<!-- main app container -->
<div class="container">
  <router-outlet></router-outlet>
</div><!-- /.container -->
<simple-notifications [options]="notificationOptions"></simple-notifications>
